@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@700&family=Roboto+Slab:wght@400;700&family=Space+Mono:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    min-height: 100vh;
    background-color: theme('colors.dark-blue-1');
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    overflow: hidden;
  }

  h1 {
    color: theme('colors.lilac-blue');
    font-size: 80px;
    font-weight: 700;
    line-height: 100px;
  }
  h1.font-sans {
    letter-spacing: -4px;
    text-indent: -4px;
  }
  h1.font-serif {
    letter-spacing: 0;
  }
  h1.font-mono {
    font-weight: 400;
    letter-spacing: -10px;
    text-indent: -10px;
  }

  h2 {
    color: theme('colors.lilac-blue');
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
  }

  h3 {
    color: theme('colors.lilac-blue');
    font-size: 14px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 13.13px;
    text-align: center;
    text-transform: uppercase;
    text-indent: 13.13px;
  }

  h4 {
    color: theme('colors.lilac-blue');
    font-size: 13px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 5px;
    text-transform: uppercase;
  }

  input::-webkit-inner-spin-button,
  input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@layer components {
  .bg-theme-1 {
    background-color: theme('colors.theme-1');
    stroke: theme('colors.theme-1');
  }
  .bg-theme-2 {
    background-color: theme('colors.theme-2');
    stroke: theme('colors.theme-2');
  }
  .bg-theme-3 {
    background-color: theme('colors.theme-3');
    stroke: theme('colors.theme-3');
  }
  .bg-light-gray {
    background-color: theme('colors.light-gray');
  }
  .bg-dark-blue-1 {
    background-color: theme('colors.dark-blue-1');
  }
  .bg-dark-blue-2 {
    background-color: theme('colors.dark-blue-2');
  }
  .bg-backdrop {
    background-color: rgba(10, 12, 28, 0.5);
  }
  .bg-arrow {
    background-color: theme('colors.dark-blue-1/50');
  }

  .text-lilac-blue {
    color: theme('colors.lilac-blue');
  }
  .text-dark-blue-1 {
    color: theme('colors.dark-blue-1');
  }
  .text-dark-blue-2 {
    color: theme('colors.dark-blue-2');
  }

  .timer-size {
    width: clamp(300px, 75vw, 410px);
    height: clamp(300px, 75vw, 410px);
  }
  .timer-gradient {
    background-image: linear-gradient(315deg, #2e325a 0%, #0e112a 100%);
    box-shadow: -50px -50px 100px #272c5a, 50px 50px 100px #121530;
  }
  .timer-center-size {
    width: clamp(268px, 65vw, 366px);
    height: clamp(268px, 65vw, 366px);
  }

  .timer-progress-bar {
    position: relative;
    width: 100%;
    height: 100%;
    fill: none;
    stroke-width: 10;
    stroke-linecap: round;
    rotate: 270deg;
    transform-origin: center;
  }

  @media only screen and (min-width: 768px) {
    .timer-progress-bar {
      stroke-width: 14;
    }
  }

  .timer-progress-bar:nth-child(1) {
    stroke-dashoffset: 0;
    stroke: transparent;
  }

  .dialog-width {
    width: clamp(327px, 71vw, 540px);
  }

  .text-1 {
    color: theme('colors.lilac-blue');
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    opacity: 0.6;
  }
  .text-2 {
    color: theme('colors.lilac-blue');
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    opacity: 0.4;
  }

  .close-icon {
    color: #1e213f8a;
  }

  .close-icon:hover {
    color: theme('colors.dark-blue-1');
  }

  .form-arrow svg {
    color: #1e213f46;
  }
  .form-arrow svg:hover {
    color: theme('colors.dark-blue-1');
  }

  .steel {
    color: steelblue;
  }

  .rounded-button {
    border-radius: 26.5px;
  }
}
